<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/frontend/index.html"><p class="p">Geo App</p></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/frontend/index.html">หน้าหลัก</a></li>
        <li>
          <a href="/frontend/sub-page/search-page.html"
            ><p class="p">ค้นหาพิกัดที่ท่องเที่ยว</p></a
          >
        </li>
        <li>
          <a href="/frontend/sub-page/map-page.html"><p class="p">แผนที่</p></a>
        </li>
        <li>
          <a href="#"><p class="p">เกี่ยวกับเรา</p></a>
        </li>
      </ul>
    </div>
  </nav>